Our Package #package {
  margin-top: 70px;
}
.text-color {
  color: #848199;
}
#package-3-body {
  border-radius: 20px;
  background-color: #3f87f5;
}
.shawk {
  display: flex;
  margin-top: 5%;
}
.shawky img {
  border-radius: 50%;
  width: 70%;
  margin-left: 50px;
  height: 70%;
}
.xtra {
  text-align: center;
}
